body{
    background-color: #282c33;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fafafa;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
.navheading{
    font-size: 20px;
    font-weight: 700;
}
h1.card-title{
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 700;
}
header .navpanel, .sub-navbar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header.navpanel .navbaritem{
    width: 6%;
}
.navheading{
    width: 15%;
    font-weight: 700;
}
.navparent{
    width: 40%;
}
a{
    text-decoration: none;
    color: white;
}
a img:hover{
    transform: scale(1.2);
    filter: drop-shadow(-2px -2px 2px #1ec244);
}
header .navpanel a:hover{
    color: #a1ffb7;
    transform: scale(1.2);
    padding: 0 1.5rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10%;
}
header{
    padding: 1%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid white;
    background-color: rgba(40, 44, 51, 0.1);
    backdrop-filter: blur(5px);
}
header ul{
    padding: 0;
    margin: 0;
}
.external-links{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 1%;
    gap: 10px;
    top: 100%;
}
.ext-links-line{
    width: 1px;
    height: 15rem;
    background-color: white;
}
.ext-links-content{
    display: grid;
}
#maincontent{
    margin: 10% 7%;
    margin-bottom: 0;
}
#maincontent .home{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.home .home-content{
    width: 40%;
    padding: 4% 2%;
}
.shape {
    position: absolute;
}

.circle {
border-radius: 50%;
}

.square {
border-radius: 0;
}
.home .home-content-image{
    width: 30%;
}
.home .home-content-image img{
    object-fit: cover;
    width: 390px;
    height: 390px;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4f4f4f;
}
.home .card-subtitle{
    padding-top: 2%;
    color: #1ec244;
    font-weight: 700;
}
.card-text{
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-transform: capitalize;
    font-variant: normal;
}
.homebtn{
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s;
    border: 1px solid rgb(0, 255, 51);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.homebtn:hover{
    background-color: #1ec244;
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    padding: 6px 18px;
}
#maincontent .element{
    /* min-height: 80vh; */
    margin: 10% 5%;
}
#maincontent #home{
    min-height: 80vh;
}
#about.about .card-head, #experience.experience .card-head, #projects.projects .card-head, #contact.contact .card-head, #skills.skills .card-head{
    display: flex;
    align-items: baseline;
}
#about.about span.aboutline, #experience.experience span.expline, #projects.projects span.projline, #contact.contact span.conline, #skills.skills span.skillsline{
    width: 50%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.about .about-content .card-text, .experience .experience-content .card-text, .projects .projects-content .card-text, .contact .contact-content .card-text, #skills.skills .skills-content .card-text{
    padding: 0;
}
.about .card-title, .experience .card-title, .projects .card-title, .contact .card-title, #skills.skills .card-title{
    padding-right: 2rem;
}
.about .about-content, .experience .experience-content, .projects .projects-content, .contact .contact-content, #skills.skills .skills-content{
    width: 85%;
    padding: 2%;
}
.parahspl{
    color: #1ec244;
    font-weight: 700;
}
.experience-content p.exp-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experience-content p .time, .experience-content .job-subtitle{
    font-weight: 300;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-variant: normal;
    font-style: italic;
}
.experience-content .job-title{
    font-size: 20px;
    font-weight: 700;
    color: #27d168;
}
.experience-content .job{
    border-left: 1px solid #20db46;
    padding-left: 1rem;
}
.experience-content .job .jobdetail{
    font-weight: 300;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: none;
    font-variant: normal;
}
.experience-content .job .jobdetail li{
    list-style: square;
}
#skills.skills .skills-content{
    text-align: center;
    padding: 1%;
}
.skills-content .row{
    justify-content: space-around;
    padding: 1%;
    margin: 5%;
    align-items: center;
}
#skills.skills .skills-content .row .col-8 img{
    filter: drop-shadow(-1px 2px 3px white);
}
#skills.skills .skills-content .row .col-8 .skilldetail{
    list-style: none;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#skills.skills .skills-content .row .col-8 .skilldetail li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    align-items: center;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}
#skills.skills .skills-content .row .col-12{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}
#skills.skills .skills-content .row .col-12 #skillheadertitle span{
    font-size: 20px;
    font-weight: 700;
    color: #fefefe;
}