@font-face {
  font-family: "font1";
  src: url("fonts/font1.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "font2";
  src: url("fonts/font2.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "font3";
  src: url("fonts/font3.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #24272c;
  align-items: center;
  padding: 3%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #fafafa;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  text-transform: capitalize;
}
.container-fluid {
  background-color: #232732;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

header {
  padding: 5% 1% 1% 1%;
}

header .nav-collapse-btn {
  display: none;
}
header .nav-collapse .navpanel.show {
  opacity: 1;
}

ul.navpanel {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1%;
}

ul.navpanel a,
.btn-c {
  padding: 10px 25px;
  background-color: #24272c;
  border-radius: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.1s ease;
}

.btn-c {
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul.navpanel a:hover,
.btn-c:hover {
  border-top: 2px solid white;
}

ul .projects-link-items {
  padding: 1%;
  margin: 2%;
}

header ul .projects-link-items{
  margin: 0%;
}

div#home,
div#about,
div#projects,
div#skills,
div#expedu,
div#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3% 5%;
}

div#home img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  background-position: center;
  border-radius: 2rem;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5),
    -0.5em -0.5em 1em rgba(255, 255, 255, 0.2);
}

.home-content {
  margin: 1%;
  text-align: left;
  width: 50%;
}

#home .home-content .card-subtitle {
  padding: 1% 2%;
  font-size: 2em;
  font-weight: 500;
  font-family: "font2";
}

#home .home-content .card-title {
  padding: 1% 2%;
  font-size: 3em;
  font-family: "font2";
}

#home .home-content .brand-name {
  font-family: "font2";
  text-transform: none;
  font-size: 2em;
}

.about-content {
  width: 40%;
}

div#about img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  background-position: center;
  border-radius: 5%;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5),
    -0.5em -0.5em 1em rgba(255, 255, 255, 0.2);
}

.card-text {
  padding: 1% 2%;
  margin-bottom: 2rem;
  font-size: 1em;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.line {
  width: 100%;
  height: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(162deg, rgb(0 135 255) 0%, rgb(153, 255, 0) 100%);
  border-radius: 2px;
}

.projects-content,
.skills-content,
.expedu-content,
.contact-content {
  width: 80%;
}

.card-head {
  display: grid;
  gap: 10px;
}

.projects-content .projects-buttons,
.expedu-content .expedu-buttons {
  padding: 2%;
}

.gradient-text {
  background: linear-gradient(162deg, rgb(0 135 255) 0%, rgb(153, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.projects-showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: 22rem;
  margin-bottom: 2rem;
}

.skills-showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}

.scroll-button {
  cursor: pointer;
}

.has-scrollbar::-webkit-scrollbar {
  width: 6px; /* for vertical scroll */
  height: 6px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #618fea;
  background: linear-gradient(162deg, rgb(0 135 255) 0%, rgb(153, 255, 0) 100%);
  border: 3px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

body .has-scrollbar::-webkit-scrollbar-thumb {
  background: #618fea;
  background: linear-gradient(162deg, rgb(0 135 255) 0%, rgb(153, 255, 0) 100%);
  border: 3px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.projects-info {
  width: 20%;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  border-radius: 2%;
  background-color: #24272c;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5),
    -0.5em -0.5em 1em rgba(255, 255, 255, 0.2);
}

.projects-info .project-card {
  background: url("images/homeimg.jpg");
  border-radius: 5%;
  background-size: cover;
  width: 100%;
  min-height: 10em;
  aspect-ratio: auto;
  background-position: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8) inset,
    -5px -5px 15px rgba(255, 255, 255, 0.2) inset;
}

.projects-info .project-title {
  padding: 2%;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  font-family: "font2";
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  width: 100%;
  text-align: start;
}

.projects-info .project-sub-title {
  padding: 1%;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}
.projects-info .project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.projects-buttons .tech-link.active,
.expedu-content .expedu-buttons .expedu-link.active {
  border-top: 2px solid rgb(0 135 255);
}
.project-links a:hover > img {
  border: 2px solid;
  border-radius: 50%;
  transform: scale(1.2) !important;
}

.skills-info {
  width: 30%;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1em;
  border-radius: 2%;
  background-color: #24272c;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5), -0.5em -0.5em 1em rgba(255, 255, 255, 0.2);
}

.skill-card {
  height: 5rem;
  aspect-ratio: 1;
}

.skill-title {
  font-size: 1.2em;
  font-family: 'font2';
  text-align: end;
}

.expedu-showcase {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1.5rem;
  padding: 4% 5%;
}

.expedu-line {
  width: 4px;
  height: 100%;
  /* border: 1px solid white; */
  background: linear-gradient(
    162deg,
    rgb(150, 200, 0) 0%,
    rgb(255, 145, 0) 100%
  );
  box-shadow: 2px 2px 10px rgba(150, 200, 0, 0.5),
    -2px -2px 10px rgba(255, 245, 0, 0.5);
  position: absolute;
  border-radius: 1rem;
}

.expedu-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6.3%;
}

.expedu-box {
  width: 40%;
  /* border: 1px solid white; */
  border-radius: 1rem;
  max-height: 20rem;
  overflow: auto;
  padding: 2%;
  border-radius: 2%;
  background-color: #24272c;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5),
    -0.5em -0.5em 1em rgba(255, 255, 255, 0.2);
}

.expedu-box.has-scrollbar::-webkit-scrollbar {
  width: 4px; /* for vertical scroll */
  height: 4px; /* for horizontal scroll */
}

.expedu-box.has-scrollbar::-webkit-scrollbar-thumb {
  background: #618fea;
  background: linear-gradient(
    162deg,
    rgb(0, 145, 255) 0%,
    rgba(71, 255, 206, 0.981) 100%
  );
  border: 2px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.expedu-box .box-content {
  display: grid;
  gap: 2px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
}

.expedu-box .box-content .head {
  font-size: 1em;
  font-weight: 700;
}
.expedu-box .box-content .sub-head {
  font-size: 1em;
  font-style: oblique;
}
.expedu-box .box-content .body-content {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.expedu-circle {
  width: 4rem;
  height: 4rem;
  /* border: 1px solid white; */
  z-index: 100;
  padding: 1%;
  background-color: #24272c;
  backdrop-filter: blur(5px);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.expedu-circle .circle-img {
  width: 100%;
  height: 100%;
  background: url("images/experience.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  filter: drop-shadow(-1px -1px 2px rgb(124, 197, 85));
}

.expedu-row.right {
  flex-direction: row-reverse;
}

#contact .contact-showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

#contact .contact-showcase form {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  transition: all 0.5s ease-in-out;
}

#contact .contact-submit-button {
  padding: 2% 10%;
  background-color: #24272c;
  border-radius: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
  box-shadow: -2px 3px 15px rgba(0, 0, 0, 1),
    -3px -2px 5px rgba(255, 255, 255, 0.5);
  border-style: none;
  color: #bababa;
  font-style: normal !important;
  font-variant: small-caps !important;
  text-transform: capitalize !important;
}

#contact .form-input {
  width: 90%;
  padding: 3% 5%;
  background-color: #24272c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1) inset,
    -1px -1px 5px rgba(255, 255, 255, 0.5) inset;
  border-radius: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.1s ease;
  border-style: none;
  color: #bababa;
  font-style: normal !important;
  text-transform: capitalize !important;
}

#contact .form-input:focus-visible {
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1),
    -1px -1px 5px rgba(255, 255, 255, 0.5);
  color: white;
}

#contact .contact-submit-button:hover {
  border-top: 2px solid white;
  color: white;
}

.notification {
  max-width: 40%;
  max-height: 20%;
  padding: 1% 5%;
  background-color: #7a7a7a47;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  position: fixed;
  left: 5%;
  bottom: 10%;
  box-shadow: -2px -2px 10px #888888d4;
  display: none;
}

#contact .has-scrollbar::-webkit-scrollbar {
  width: 2px; /* for vertical scroll */
  height: 2px; /* for horizontal scroll */
}

#contact .has-scrollbar::-webkit-scrollbar-thumb {
  background: #618fea;
  background: linear-gradient(162deg, rgb(0 135 255) 0%, rgb(153, 255, 0) 100%);
  border: 2px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  div#home img {
    width: 300px;
    height: 300px;
  }

  div#about img {
    width: 300px;
    height: 300px;
  }

  #home .home-content .card-subtitle {
    padding: 0;
  }

  #home .home-content .card-title {
    padding: 0;
  }

  .card-text {
    padding: 1%;
  }

  .projects-content,
  .skills-content,
  .expedu-content {
    width: 90%;
  }

  .expedu-circle {
    width: 3rem;
    height: 3rem;
  }

  #projects ul.navpanel {
    justify-content: space-between;
  }

  .projects-info {
    width: 40%;
  }
}

@media (max-width: 800px) {
  div#home img {
    width: 250px;
    height: 250px;
  }

  div#about img {
    width: 250px;
    height: 250px;
  }

  #home .home-content .brand-name {
    font-size: 1.5em;
  }

  #home .home-content .card-subtitle {
    padding: 0;
    font-size: 1.5em;
  }

  #home .home-content .card-title {
    padding: 0;
    font-size: 2em;
  }

  ul.navpanel {
    justify-content: space-between;
  }

  .card-text {
    padding: 1%;
  }

  .projects-all-cards {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    padding: 10%;
    border-radius: 30%;
    width: 80%;
    overflow: auto;
    flex-wrap: nowrap;
    height: unset;
  }

  .projects-slider {
    width: 60%;
    grid-template-columns: 1fr 1fr;
  }

  .projects-info {
    width: 45%;
    height: unset;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    min-height: 10rem;
    border-radius: 1rem;
    justify-content: flex-start;
  }

  .projects-showcase {
    padding: 5%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 2%;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 15rem;
  }

  .projects-info .project-card{
    position: absolute;
    z-index: 1;
    width: 100%;
    filter: brightness(0.8);
    top: 0;
    left: 0;
  }

  .projects-info .project-title {
    font-size: 1em;
    margin: 0;
    width: 50%;
    z-index: 10;
    margin-bottom: 1rem;
  }

  .projects-info .project-sub-title {
    display: none;
  }

  .projects-info .project-links {
    margin-top: .5em;
    z-index: 10;
  }

  .skills-info {
    width: 40%;
  }

  .projects-content,
  .skills-content,
  .expedu-content {
    width: 95%;
  }

  .projects-showcase,
  .skills-showcase {
    padding: 2%;
  }

  div#home,
  div#about,
  div#projects,
  div#skills,
  div#expedu,
  div#contact {
    padding: 5% 2%;
  }
  .expedu-circle {
    width: 2.5rem;
    height: 2.5rem;
  }
  .expedu-box .box-content .sub-head {
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  body {
    padding: 8% 5%;
  }

  header .nav-collapse-btn {
    display: block;
  }

  header #navbar {
    display: none;
  }

  header .nav-collapse .navpanel {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 1.5em;
    gap: 1rem;
    grid-template-columns: 10rem;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }

  header .nav-collapse .navpanel li {
    margin: 10% 1%;
  }

  header .nav-collapse {
    height: 10%;
    width: 2%;
    position: fixed;
    border-radius: 1rem;
    background: linear-gradient(
      162deg,
      rgb(0 135 255) 0%,
      rgb(153, 255, 0) 100%
    );
    backdrop-filter: blur(5px);
    transform: translateY(1000%);
    transition: all 0.3s ease-in-out;
  }

  header ul.navpanel a {
    padding: 10% 20%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1),
      -3px -3px 10px rgba(255, 255, 255, 1);
  }

  div#home {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  div#about {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  div#home,
  div#about,
  div#projects,
  div#skills,
  div#expedu,
  div#contact {
    padding: 2%;
  }

  .home-content,
  .about-content {
    width: 90%;
    padding: 10% 1%;
  }

  .home-content .card-text,
  .about-content .card-text {
    text-align: left;
  }

  .projects-content {
    width: 100%;
  }

  div#home img {
    width: 200px;
    height: 200px;
  }

  div#about img {
    width: 200px;
    height: 200px;
  }

  #home .home-content .card-subtitle {
    padding: 0;
  }

  #home .home-content .card-title {
    padding: 0;
  }

  .card-text {
    padding: 5% 1%;
  }

  .projects-content .projects-buttons,
  .expedu-content .expedu-buttons {
    padding: 10% 2%;
  }

  .projects-info {
    width: 90%;
  }

  .projects-buttons ul.navpanel,
  .expedu-buttons ul.navpanel {
    gap: 1rem;
    justify-content: flex-start;
  }

  .projects-content,
  .skills-content,
  .expedu-content {
    width: 100%;
  }

  .skills-info {
    width: 40%;
    flex-direction: column;
  }
  .skill-title {
    font-size: 1em;
    text-align: center;
  }
  .expedu-circle {
    width: 2rem;
    height: 2rem;
  }
  .expedu-box {
    width: 80%;
  }
  .expedu-showcase {
    justify-items: start;
    padding: 5% 1%;
  }
  .expedu-line {
    transform: translateX(25px);
  }
  .expedu-row {
    flex-direction: row-reverse;
    gap: 7.7%;
  }
  #contact .contact-showcase form {
    width: 100%;
  }
  #contact .contact-showcase {
    padding: 10% 5%;
  }
  #contact .contact-showcase {
    padding: 10% 5%;
  }
  .notification {
    max-width: 90%;
    max-height: 50%;
    padding: 3% 5%;
    left: 10%;
    bottom: 10%;
  }
}

@media (max-width: 400px) {
  .expedu-row {
    gap: 6%;
  }
}

@media (max-width: 350px) {
  .expedu-row {
    gap: 3.3%;
  }
}
